code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert {
   padding: 20px;
   background-color: #f44336;
   color: white;
 }

.info {
  padding: 20px;
  background-color: #e9e9e9;
  color: #202020;
  text-align: center;
}

.hero.is-primary {
  background-color: #3273dc;
}

.footer {
  background-color: #3273dc;
  color: #ffffff;
}